/* GOLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}


/* Category */
.category h3 {
    padding: 3rem 0;
    text-align: center;
    font-weight: 550;
    font-size: 1.8em;
    line-height: 29px;
    color: #000000;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;

}

.flex-container>div {
    width: 100%;
    margin: 1rem;
    text-align: center;
    border: 1px solid #999;
    border-radius: 5px;

}

.flex-container img {
    height: 14rem;
    margin-bottom: 1rem;
}

.flex-container p:first-of-type {
    font-weight: 700;
}

.flex-container p:last-of-type {
    font-weight: 700;
    color: red;
}


.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    width: 40px;
    height: 40px;
    border: 1px solid #999;
    margin-right: 2rem;
}

.owl-theme .owl-dots .owl-dot.active {
    background-color: #fbbd61;

}

.owl-theme .owl-dots .owl-dot:focus {
    outline: none;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    bottom: -1.5%;
    left: 43%;
    font-size: 2.5em;
}


.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    bottom: -1.5%;
    right: 44%;
    font-size: 2.5em;
}

.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:focus {
    outline: none;
}