/* GOLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}
/* Forgot password */
.forget-overal {
    display: flex;
    justify-content: center;
}

.forget-frame .notify {
    margin-bottom: 0;
    color: red;
    font-weight: 600;
}

.forget-frame {
    width: 45%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    padding: 1rem 3rem;
    margin: 80px 0;
}

.forget-title {
    text-align: center;
    font-weight: 510;
    color: #666;
    margin-bottom: 15px;
}

.forget-info {
    /* Dùng để chuyển background khi nhập sai */
    /* background-color: #FED0D0; */
    font-size: 16px;
    width: 100%;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 16px;
}

.forgetBtn {
    width: 100%;
    font-size: 20px;
    border: none;
    background: #FDBD61;
    color: #fff;
    margin: 8px 0;
}

.forgetBtn:hover {
    border: none;
    background: #EC7532;
    color: #fff;
}
