* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    font-size: 14px;
    line-height: 1.5;
}

/* common use */

.text-20px-upper {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 510;
}

.text-18px-upper {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 510;
}

/* product info */
.product img{
    width: 100%;
    height: 100%;
}

.product-info {
    margin: 20px 0 50px;
}

.product .product-info .slider{
    width: 5.75rem;  
    height: 5.75rem; 
    display: inline-block;
    border: 1px solid #000;
    margin: 0 14px;
} 

.product .product-info .product-title {
    font-weight: 600;
}

/* product details */
.product-details h2 {
    font-weight: 550;
}


/* product check kilo btn*/
.product-btn .product-check-kilo input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.product-btn .product-check-kilo label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 4px;
    font-weight: 510;
}

.product-btn .product-check-kilo input[type="radio"]:checked + label {
    background-color: #FCC06A;
}

.product-check-kilo {
    margin-bottom: 1rem;
}

.quantity {
    text-align: center;
    border: 1px solid #000;
}

/* 2 button thanh toán */
.buyNowBtn,
.addCartBtn {
    width: 100%;
    padding: 10px;
    font-weight: 600;
    color: #000;
}

.buyNowBtn {
    background-color: #FCC06A;
}

.buyNowBtn:hover,
.buyNowBtn:active{
    background: #EC7532;
}

/* Description */
.product-desc p {
    font-size: 18px;
}