* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


.productList-content h2{
    text-align: center;
    font-size: 30px;
    font-weight: 510;
}

.productList-title {
    margin: 20px 0;
}

.searchBar {
    border-radius: 4px;
    width: 100%;
    border: 1px solid #999;
    font-size: 16px;
    line-height: 1.5;
    padding: 8px;
}

.searchBtn {
    width: 50%;
    font-size: 16px;
    color: black;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background: #fbbd61;
    display: block;
    text-align: center;
    float: right;
}

.searchBtn:hover {
    color: #fff;
    text-decoration: none;
    background: #ec7532;
}

.productList-empty {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 64px 0;
}

.empty-img {
    width: 30%;
}

.productList-content .tableTitle {
    font-size: 20px;
    font-weight: 510;
    text-align: center;
    margin-top: 4px;
}

.tableInfo .list .yourProduct {
    border: 1px solid #999;
    border-radius: 4px;
    display: flex;
    font-size: 16px;
    font-weight: 510;
    color: #000;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 16px;
    padding: 6px 0;
}

.tableInfo .list .yourProduct:hover {
    text-decoration: none;
    background-color: #FDBD61;
}

.productPrice {
    color: #E12323;
}

.productStatus-inStock {
    color: #1AFF06;
}

.productStatus-outOfStock {
    color: #E12323;
}

.tableInfo a div {
    padding: 0;
    text-align: center;
}

.tableInfo a p {
    margin: 0;
}

.productPrice-promoted {
    color: #999;
    text-decoration: line-through;
}

.updateInfo-btn {
    border: 1px solid #999;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 10px;
    color: #000;
    font-size: 16px;
}

.updateInfo-btn:hover {
    color: #000;
    background: #ccc;
}

.removeProduct-btn {
    border: 1px solid #E12323;
    border-radius: 4px;
    border-style: dashed;
    display: inline-block;
    padding: 6px 10px;
    color: #E12323;
    font-size: 16px;
}

.removeProduct-btn:active {
    background: #f5b6b6;
}

.removeProduct-btn:focus {
    outline: none;
}

.tools {
    display: flex;
    justify-content: space-around;
}