/* GOLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}

.section {
    padding: 3rem 0;
    text-align: center;
    font-weight: 550;
    font-size: 1.8em;
    line-height: 29px;
    color: #000000;
}

/* Search-modal */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);

    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-modal
{
    display: flex;
    width: 80%;
    height: auto;
    background-color: #FCC06A;
    border-radius: 3px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.parent {
    margin: 5px 15px;
}
.search-modal .search {
    background-color: white;
    border-radius: 3px;
    width: 100%;
    height: 33px;
    padding: 5px 0; 
    border: 1px solid #000;
    margin: 10px 0px 0px;
}

.search-modal .search i {
    margin-left: 10px;
    margin-right: 20px;
}

.search-modal .input-search {
    border: 0;
    outline: none;
    width: 90%;
}

/* CSS wait loading */
/* .search-modal .wait-search-parent {
    margin: 10px 0;
    display: flex;
}

.wait-search-parent .wait {
    margin: auto;
} */


/* CSS show inform */
/* .search-modal .inform {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
} */


/* List item */
.list-items {
    display: flex;
    flex-wrap: wrap;
}

.list-items .item {
    margin: 10px 10px 0;
    width: 190px;
}

.card {
    margin: 15px 0;
}

.card-body {
    text-align: center;
    padding: 5px 0px;
    
}

.card-title {
    font-weight: 600;
    margin-bottom: 5px;
}

.price {
    margin-bottom: 0;
    color: red;
    font-size: 16px;
}

.more {
    display: flex;
    justify-content: center;   
}

.more a {
    border: 1px solid rgba(0, 0, 0, 0.7);
    margin: 10px 0;
    padding: 3px 15px;
    border-radius: 3px;
    background: white;
    color: black;
    text-decoration: none;
}

.more a:hover {
    background-color: #EC7532;
}










